In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Import Dataframes

In [2]:
# Path Creation
path=r'C:\Users\Drew\Instacart Basket Analysis'

In [3]:
# Import Data
ords_prods_merge=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merge_derived_freq_grouping_agg,pkl'))

In [4]:
customers=pd.read_csv(os.path.join(path,'02 Data','Original Data','customers.csv'))

In [9]:
# Checking customers dataframe dimensions
customers.shape

(206209, 10)

In [10]:
# Visual check of customers dataframe
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [11]:
# Descriptive statistical check of customers dataframe
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [12]:
# Customers dataframe data type check
customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [13]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [14]:
customers.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

# Task 4.9 Part 1

## Data Wrangling of Customer Dataframe

### Renaming columns

In [16]:
# Renaming columns 'First Name' to first_name'
customers.rename(columns={'First Name':'first_name'},inplace=True)

In [17]:
# Renaming column 'surnam' to 'last_name' to keep similar to above column rename of 'first_name'
customers.rename(columns={'Surnam':'last_name'},inplace=True)

In [18]:
# Renaming column 'STATE' to 'state' to remove all caps
customers.rename(columns={'STATE':'state'},inplace=True)

In [19]:
# Renaming column 'Gender' to 'gender' to keep lower case structure
customers.rename(columns={'Gender':'gender'},inplace=True)

In [20]:
# Renaming column 'Age' to 'age' to keep lower case structure
customers.rename(columns={'Age':'age'},inplace=True)

In [21]:
# Renaming column 'fam_status' to 'marital_status' for better clarity
customers.rename(columns={'fam_status':'marital_status'},inplace=True)

In [22]:
# Renaming column 'n_dependants' to 'num_of_dependants' as I think it is clearer then just using the letter n
customers.rename(columns={'n_dependants':'num_of_dependants'},inplace=True)

In [23]:
# Checking column changes to make sure changes were made
customers.columns.tolist()

['user_id',
 'first_name',
 'last_name',
 'gender',
 'state',
 'age',
 'date_joined',
 'num_of_dependants',
 'marital_status',
 'income']

In [25]:
# Visual check on new column names
customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,num_of_dependants,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### No columns need to be dropped as all information could be useful regarding customer information in terms of spending habits, background, and demographics/status analysis of customers.

## fundamental data quality and consistency checks to address missing values, duplicates, and convert any mixed-type data.

In [38]:
# Checking for missing values in customers dataframe df.isnull().sum()
customers.isnull().sum()

user_id              0
first_name           0
last_name            0
gender               0
state                0
age                  0
date_joined          0
num_of_dependants    0
marital_status       0
income               0
dtype: int64

In [39]:
# Viewing found missing values in first_name column in subset
cust_nan=customers[customers['first_name'].isnull()==True]

In [41]:
cust_nan

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, num_of_dependants, marital_status, income]
Index: []

### Note to above missing values: when checking for missing values first, first_name resulted with 11259 blanks. After changing to str, now shows as having no missing values. As the last name of the customer is still available, information may still be viable for use so will leave blank cells alone.

In [33]:
# Checking for mixed data types
for col in customers.columns.tolist():
    weird=(customers[[col]].map(type)!=customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len (customers[weird])>0:
        print(col)

first_name

In [34]:
# first_name column found with mixed data types. Will be ensuring that all are changed to string data type
customers['first_name']=customers['first_name'].astype('str')

In [35]:
# Verifying first_name does not show with mixed data types
for col in customers.columns.tolist():
    weird=(customers[[col]].map(type)!=customers[[col]].iloc[0].apply(type)).any(axis=1)
    if len (customers[weird])>0:
        print(col)

In [36]:
# user_id is showing as numerical data type and will be changed to string
customers['user_id']=customers['user_id'].astype('str')

In [37]:
# Checking changed data types
customers.dtypes

user_id              object
first_name           object
last_name            object
gender               object
state                object
age                   int64
date_joined          object
num_of_dependants     int64
marital_status       object
income                int64
dtype: object

## Checking for Duplicates

In [42]:
# Checking for duplicates through subset cust_dups
cust_dups=customers[customers.duplicated()]

In [43]:
cust_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, num_of_dependants, marital_status, income]
Index: []

### No duplicates found

## Final look at newly adjusted customers dataframe

In [46]:
# Double check on adjusted customers dataframe dimensions
customers.shape

(206209, 10)

In [47]:
# Visual quick look at adjusted customers dataframe
customers.head()

,user_id,first_name,last_name,gender,state,age,date_joined,num_of_dependants,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [50]:
# Statiscal descriptive look at adjusted customers dataframe
customers.describe()

                 age  num_of_dependants         income
count  206209.000000      206209.000000  206209.000000
mean       49.501646           1.499823   94632.852548
std        18.480962           1.118433   42473.786988
min        18.000000           0.000000   25903.000000
25%        33.000000           0.000000   59874.000000
50%        49.000000           1.000000   93547.000000
75%        66.000000           3.000000  124244.000000
max        81.000000           3.000000  593901.000000

## Combine your customer data with the rest of your prepared Instacart data.

In [51]:
# Checking columns of ords_prods_merge
ords_prods_merge.columns.tolist()

['product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'order_id',
 'user_id',
 'order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'add_to_cart_order',
 'reordered',
 '_merge',
 'price_range_loc',
 'busiest_day',
 'busiest_days',
 'busiest_period_of_day',
 'max_order',
 'loyalty_flag',
 'spending_average',
 'type_of_spender',
 'user_frequency',
 'customer_frequency_type']

In [62]:
# Checking customers dataframe columns 
customers.columns.tolist()

['user_id',
 'first_name',
 'last_name',
 'gender',
 'state',
 'age',
 'date_joined',
 'num_of_dependants',
 'marital_status',
 'income']

### Both dataframes share 'user_id' column and can be combined using this as the key

In [56]:
# Checking data type of ord_prods_merge for user_id 
ords_prods_merge.dtypes['user_id']

dtype('int64')

In [57]:
# Double checking data type of user_id for customers dataframe that was set a string earlier. 
customers.dtypes['user_id']

dtype('O')

In [58]:
# Changing ords_prods_merge 'user_id' to string data type for merge
ords_prods_merge['user_id']=ords_prods_merge['user_id'].astype('str')

In [60]:
# Ensuring data type change successful
ords_prods_merge.dtypes['user_id']

dtype('O')

In [63]:
# Dropping _merge column from ords_prods_merge as previous experience resulted in error due to already having this column from prior merge
# Creating ords_prods_merge_2 so as to not overwrite original dataframe in case it needs to be used for any corrections.
ords_prods_merge_2=ords_prods_merge.drop(columns=['_merge'])

In [65]:
# Checking that _merge was removed from new dataframe
ords_prods_merge_2.columns.tolist()

['product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'order_id',
 'user_id',
 'order_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'add_to_cart_order',
 'reordered',
 'price_range_loc',
 'busiest_day',
 'busiest_days',
 'busiest_period_of_day',
 'max_order',
 'loyalty_flag',
 'spending_average',
 'type_of_spender',
 'user_frequency',
 'customer_frequency_type']

In [66]:
# Merging customers and ords_prods_merge_2 dataframes via user_id
ords_prods_cust_merge=ords_prods_merge_2.merge(customers,on='user_id',indicator=True)

In [67]:
# Checking merged dataframes dimensions
ords_prods_cust_merge.shape

(32404859, 33)

In [68]:
ords_prods_cust_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'spending_average', 'type_of_spender', 'user_frequency',
       'customer_frequency_type', 'first_name', 'last_name', 'gender', 'state',
       'age', 'date_joined', 'num_of_dependants', 'marital_status', 'income',
       '_merge'],
      dtype='object')

In [69]:
ords_prods_cust_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,gender,state,age,date_joined,num_of_dependants,marital_status,income,_merge
0,33664,2 % Reduced Fat Milk,84,16,9.9,183964,873,3,0,10,...,Edward,Carr,Male,Colorado,64,2/28/2019,3,married,290220,both
1,33664,2 % Reduced Fat Milk,84,16,9.9,1851256,873,4,6,12,...,Edward,Carr,Male,Colorado,64,2/28/2019,3,married,290220,both
2,33664,2 % Reduced Fat Milk,84,16,9.9,1915696,1893,1,5,17,...,Christine,Le,Female,Colorado,23,8/27/2019,3,married,348829,both
3,33664,2 % Reduced Fat Milk,84,16,9.9,2763293,1893,2,4,16,...,Christine,Le,Female,Colorado,23,8/27/2019,3,married,348829,both
4,33664,2 % Reduced Fat Milk,84,16,9.9,2564805,1893,4,1,17,...,Christine,Le,Female,Colorado,23,8/27/2019,3,married,348829,both

In [70]:
# Checking merge results
ords_prods_cust_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [74]:
# Checking Data Types of New merged dataframe
# Looking again at some of the ids, they appear to be better off as string data types as they are used for references and not statistical analysis.
ords_prods_cust_merge.dtypes

product_id                    int64
product_name                 object
aisle_id                      int64
department_id                 int64
prices                      float64
order_id                      int64
user_id                      object
order_number                  int64
orders_day_of_week            int64
order_hour_of_day             int64
days_since_prior_order      float64
add_to_cart_order             int64
reordered                     int64
price_range_loc              object
busiest_day                  object
busiest_days                 object
busiest_period_of_day        object
max_order                     int64
loyalty_flag                 object
spending_average            float64
type_of_spender              object
user_frequency              float64
customer_frequency_type      object
first_name                   object
last_name                    object
gender                       object
state                        object
age                           int64
date_joined                  object
num_of_dependants             int64
marital_status               object
income                        int64
_merge                     category
dtype: object

In [75]:
# Changing product_id to string data type
ords_prods_cust_merge['product_id']=ords_prods_cust_merge['product_id'].astype('str')

In [76]:
# Changing aisle_id to string data type
ords_prods_cust_merge['aisle_id']=ords_prods_cust_merge['aisle_id'].astype('str')

In [77]:
# Changing department_id to string data type
ords_prods_cust_merge['department_id']=ords_prods_cust_merge['department_id'].astype('str')

In [78]:
# Changing order_id to string data type
ords_prods_cust_merge['order_id']=ords_prods_cust_merge['order_id'].astype('str')

In [79]:
# Rechecking Data Types of Merged Dataframe
ords_prods_cust_merge.dtypes

product_id                   object
product_name                 object
aisle_id                     object
department_id                object
prices                      float64
order_id                     object
user_id                      object
order_number                  int64
orders_day_of_week            int64
order_hour_of_day             int64
days_since_prior_order      float64
add_to_cart_order             int64
reordered                     int64
price_range_loc              object
busiest_day                  object
busiest_days                 object
busiest_period_of_day        object
max_order                     int64
loyalty_flag                 object
spending_average            float64
type_of_spender              object
user_frequency              float64
customer_frequency_type      object
first_name                   object
last_name                    object
gender                       object
state                        object
age                           int64
date_joined                  object
num_of_dependants             int64
marital_status               object
income                        int64
_merge                     category
dtype: object

In [73]:
# Descriptive Statistical Analysis of Newly Merged Dataframe
ords_prods_cust_merge.describe()

,product_id,aisle_id,department_id,prices,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,max_order,spending_average,user_frequency,age,num_of_dependants,income
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240485e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,2.559866e+04,7.119612e+01,9.919792e+00,7.790180e+00,1.710745e+06,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,8.352547e+00,5.895873e-01,3.305217e+01,7.790180e+00,1.039776e+01,4.946527e+01,1.501896e+00,9.943773e+04
std,1.408400e+04,3.821139e+01,6.281485e+00,4.242122e+00,9.872988e+05,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,7.127071e+00,4.919087e-01,2.515525e+01,7.348080e-01,7.131754e+00,1.848558e+01,1.118865e+00,4.305727e+04
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,2.590300e+04
25%,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00,8.559470e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00,1.300000e+01,7.377778e+00,6.000000e+00,3.300000e+01,1.000000e+00,6.700400e+04
50%,2.530200e+04,8.300000e+01,9.000000e+00,7.400000e+00,1.711049e+06,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00,2.600000e+01,7.811236e+00,8.000000e+00,4.900000e+01,2.000000e+00,9.661800e+04
75%,3.794700e+04,1.070000e+02,1.600000e+01,1.130000e+01,2.565499e+06,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.100000e+01,1.000000e+00,4.700000e+01,8.228655e+00,1.300000e+01,6.500000e+01,3.000000e+00,1.279120e+05
max,4.968800e+04,1.340000e+02,2.100000e+01,2.500000e+01,3.421083e+06,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00,9.900000e+01,2.320000e+01,3.000000e+01,8.100000e+01,3.000000e+00,5.939010e+05

In [80]:
# Rerunning descriptive statistical analysis of merged dataframe
ords_prods_cust_merge.describe()

,prices,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,max_order,spending_average,user_frequency,age,num_of_dependants,income
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240485e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,7.790180e+00,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,8.352547e+00,5.895873e-01,3.305217e+01,7.790180e+00,1.039776e+01,4.946527e+01,1.501896e+00,9.943773e+04
std,4.242122e+00,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,7.127071e+00,4.919087e-01,2.515525e+01,7.348080e-01,7.131754e+00,1.848558e+01,1.118865e+00,4.305727e+04
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,2.590300e+04
25%,4.200000e+00,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,3.000000e+00,0.000000e+00,1.300000e+01,7.377778e+00,6.000000e+00,3.300000e+01,1.000000e+00,6.700400e+04
50%,7.400000e+00,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,6.000000e+00,1.000000e+00,2.600000e+01,7.811236e+00,8.000000e+00,4.900000e+01,2.000000e+00,9.661800e+04
75%,1.130000e+01,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.100000e+01,1.000000e+00,4.700000e+01,8.228655e+00,1.300000e+01,6.500000e+01,3.000000e+00,1.279120e+05
max,2.500000e+01,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,1.450000e+02,1.000000e+00,9.900000e+01,2.320000e+01,3.000000e+01,8.100000e+01,3.000000e+00,5.939010e+05

# Exporting New Merged Dataframe

In [ ]:
ords_prods_cust_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_customers_merge.pkl'))